altgraph==0.17.5
auto-py-to-exe==2.50.1
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
clr_loader==0.2.10
Eel==0.18.2
future==1.0.0
gevent==26.4.0
gevent-websocket==0.10.1
greenlet==3.5.0
idna==3.13
importlib_resources==7.1.0
packaging==26.2
pefile==2024.8.26
proxy_tools==0.1.0
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pyparsing==3.3.2
pythonnet==3.0.5
pywebview==6.2.1
pywin32-ctypes==0.2.3
requests==2.33.1
setuptools==82.0.1
tomli_w==1.2.0
typing_extensions==4.15.0
urllib3==2.6.3
zope.event==6.2
zope.interface==8.4
